<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="[ '/' ]" routerLinkActive="active"><h3>Fatturando</h3></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-5">
        <a class="nav-link active" [routerLink]="[ '/' ]" routerLinkActive="active">Lista Clienti</a>
        <a class="nav-link active" [routerLink]="[ '/nuovocliente' ]" routerLinkActive="active">Nuovo Cliente</a>
        <a class="nav-link active" [routerLink]="[ '/fatture' ]" routerLinkActive="active">Fatture</a>
        <a class="nav-link active" [routerLink]="[ '/nuovafattura' ]" routerLinkActive="active">Nuova Fattura</a>
      </ul>
    </div>
  </div>
</nav>

